<a href="https://colab.research.google.com/github/SujalK96/CSC221_skark005/blob/main/Assignment%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#TIY 2-1
sujal = "I am from Nepal"
print(sujal)

I am from Nepal

In [2]:
#TIY 2-2
apple = "This is my favorite fruit"
print(apple)
apple = " This is the cellphone brand that I use"
print(apple)

This is my favorite fruit
 This is the cellphone brand that I use

In [3]:
#TIY 2-3
name = "Sujal"
print(f"My name is {name}")

My name is Sujal

In [8]:
#TIY 2-4
first_name = "sujal"
last_name = "karki"
print(f"{first_name.upper()} {last_name.upper()}")
print(f"{first_name.lower()} {last_name.lower()}")
full_name = f"{first_name} {last_name}"
print(f"my name is {full_name.title()}")

SUJAL KARKI
sujal karki
my name is Sujal Karki

In [17]:
#TIY 2-5
author="Steve Jobs"
quote ="Our time is limited, so don't waste it living someone else's life."
print(f'{author} once said, "{quote}" ')

Steve Jobs once said, "Our time is limited, so don't waste it living someone else's life."

In [18]:
#TIY 2-6
famous_person ="Bill Gates"
quote= "It's fine to celebrate success, but it is more important to heed the lessons of failure."
message = f'{famous_person} once said, "{quote}" '
print(message)

Bill Gates once said, "It's fine to celebrate success, but it is more important to heed the lessons of failure."

In [31]:
#TIY 2-7
name1=" \t\n   Sujal Karki   \t\n"
print(name1)
print(name1.strip())
print(name1.rstrip())
print(name1.lstrip())

   Sujal KArki

Sujal KArki

   Sujal KArki
Sujal KArki

In [33]:
#TIY 2-8
print(4+4)
print(16-8)
print(2*4)
print(int(16/2))

8
8
8
8

In [38]:
#TIY 2-9
favorite_number= 7
message = f"My favorite number is {favorite_number}"
print(message)
favorite_number= 7
print("My favorite number is " + str(favorite_number))

My favorite number is 7
My favorite number is 7

In [39]:
#TIY 2-10

#program to store a favorite number in a variable and printing it with a message

favorite_number= 7
message = f"My favorite number is {favorite_number}"
print(message)
favorite_number= 7
print("My favorite number is " + str(favorite_number))

#performing mathematical function to bring number 8 as a result
print(4+4)
print(16-8)
print(2*4)
print(int(16/2))

My favorite number is 7
My favorite number is 7
8
8
8
8