<a href="https://colab.research.google.com/github/SujalK96/CSC221_skark005/blob/main/Assingment4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#TIY 3-1
names = ["Aryan","Nitesh","Aadarsha","Trevor","Ayush"]
for i in names:
  print (i)

Aryan
Nitesh
Aadarsha
Trevor
Ayush

In [13]:
#TIY 3-2
names = ["Aryan","Nitesh","Aadarsha","Trevor","Ayush"]
for i in names:
  print ("You all are great friend to me " + (i) + ". Thankyou!")

You all are great friend to me Aryan. Thankyou!
You all are great friend to me Nitesh. Thankyou!
You all are great friend to me Aadarsha. Thankyou!
You all are great friend to me Trevor. Thankyou!
You all are great friend to me Ayush. Thankyou!

In [16]:
#TIY 3-3
bike_names = ["Honda", "Suzuki", "Yamaha", "Harley Davidson"]
for i in bike_names:
  print ("I would like to own a " + (i)+ " motorcycle.")

I would like to own a Honda motorcycle.
I would like to own a Suzuki motorcycle.
I would like to own a Yamaha motorcycle.
I would like to own a Harley Davidson motorcycle.

In [22]:
#TIY 3-4
dinner_invites = ["Ram","Shyam","Sam","Chico"]
for i in dinner_invites:
  print ( "Hello " + (i) + ", you are invited to the dinner.")

Hello Ram, you are invited to the dinner.
Hello Shyam, you are invited to the dinner.
Hello Sam, you are invited to the dinner.
Hello Chico, you are invited to the dinner.

In [43]:
#TIY 3-5
dinner_invites = ["Ram","Shyam","Sam","Chico"]
for i in dinner_invites:
  print ( "Hello " + (i) + ", you are invited to the dinner.")
dinner_invites_who_cant_make_it = "Ram"
print("\nUnfortunately, " + dinner_invites_who_cant_make_it + " can't make it to dinner.")
# Ram could not make it to the dinner so Aryan is invited instead.
dinner_invites [0]="Aryan"
#New updated invites
print('\nNew updated invites')
for i in dinner_invites:

  print (  "Hello " + (i) + ", you are invited to the dinner.")

Hello Ram, you are invited to the dinner.
Hello Shyam, you are invited to the dinner.
Hello Sam, you are invited to the dinner.
Hello Chico, you are invited to the dinner.

Unfortunately, Ram can't make it to dinner.

New updated invites
Hello Aryan, you are invited to the dinner.
Hello Shyam, you are invited to the dinner.
Hello Sam, you are invited to the dinner.
Hello Chico, you are invited to the dinner.

In [15]:
#TIY 3-6
dinner_invites = ["Ram","Shyam","Sam","Chico"]
for i in dinner_invites:
  print ( "Hello " + (i) + ", you are invited to the dinner.")
  # Inform guests about the bigger dinner table
print("\nGreat news! We found a bigger dinner table.")
dinner_invites.insert(0, "Zara")
dinner_invites.insert(len(dinner_invites) // 2, "Max")
dinner_invites.append("Luna")
print('\nNew updated invites:')
for guest in dinner_invites:
    print("Hello " + guest + ", you are invited to the dinner.")

Hello Ram, you are invited to the dinner.
Hello Shyam, you are invited to the dinner.
Hello Sam, you are invited to the dinner.
Hello Chico, you are invited to the dinner.

Great news! We found a bigger dinner table.

New updated invites:
Hello Zara, you are invited to the dinner.
Hello Ram, you are invited to the dinner.
Hello Max, you are invited to the dinner.
Hello Shyam, you are invited to the dinner.
Hello Sam, you are invited to the dinner.
Hello Chico, you are invited to the dinner.
Hello Luna, you are invited to the dinner.

In [24]:
#TIY 3-7
dinner_invites = ["Ram", "Shyam", "Sam", "Chico","Zara", "Luna", "Max"]
for guest in dinner_invites:
    print("Hello " + guest + ", you are invited to the dinner.")

print("\nSorry, the new dinner table won't arrive in time. I can only invite two people for dinner.")

# Remove guests from the list until only two names remain
while len(dinner_invites) > 2:
    removed_guest = dinner_invites.pop()
    print("Sorry, " + removed_guest + ", I can't invite you to dinner.")
for remaining_guest in dinner_invites:
    print("Hello " + remaining_guest + ", you're still invited to dinner.")
del dinner_invites[:]
print("\nAfter removing the last two names, the list is now empty:", dinner_invites)

Hello Ram, you are invited to the dinner.
Hello Shyam, you are invited to the dinner.
Hello Sam, you are invited to the dinner.
Hello Chico, you are invited to the dinner.
Hello Zara, you are invited to the dinner.
Hello Luna, you are invited to the dinner.
Hello Max, you are invited to the dinner.

Sorry, the new dinner table won't arrive in time. I can only invite two people for dinner.
Sorry, Max, I can't invite you to dinner.
Sorry, Luna, I can't invite you to dinner.
Sorry, Zara, I can't invite you to dinner.
Sorry, Chico, I can't invite you to dinner.
Sorry, Sam, I can't invite you to dinner.
Hello Ram, you're still invited to dinner.
Hello Shyam, you're still invited to dinner.

After removing the last two names, the list is now empty: []

In [31]:
#TIY 3-8
places_to_visit = ["Greece", "Australia", "Japan", "Thailand", "Norway"]
print("Original order:", places_to_visit)
print("Alphabetical order:", sorted(places_to_visit))
print("Original order:", places_to_visit)
print("Reverse alphabetical order:", sorted(places_to_visit, reverse=True))
print("Original order:", places_to_visit)
places_to_visit.reverse()
print("Reversed order:", places_to_visit)
places_to_visit.reverse()
print("Back to original order:", places_to_visit)
places_to_visit.sort()
print("Alphabetical order:", places_to_visit)
places_to_visit.sort(reverse=True)
print("Reverse alphabetical order:", places_to_visit)

Original order: ['Greece', 'Australia', 'Japan', 'Thailand', 'Norway']
Alphabetical order: ['Australia', 'Greece', 'Japan', 'Norway', 'Thailand']
Original order: ['Greece', 'Australia', 'Japan', 'Thailand', 'Norway']
Reverse alphabetical order: ['Thailand', 'Norway', 'Japan', 'Greece', 'Australia']
Original order: ['Greece', 'Australia', 'Japan', 'Thailand', 'Norway']
Reversed order: ['Norway', 'Thailand', 'Japan', 'Australia', 'Greece']
Back to original order: ['Greece', 'Australia', 'Japan', 'Thailand', 'Norway']
Alphabetical order: ['Australia', 'Greece', 'Japan', 'Norway', 'Thailand']
Reverse alphabetical order: ['Thailand', 'Norway', 'Japan', 'Greece', 'Australia']

In [36]:
#TIY 3-9
dinner_invites = ["Ram", "Shyam", "Sam", "Chico"]

# Print the number of people you are inviting to dinner using len()
print("Number of people invited to dinner:", len(dinner_invites))

Number of people invited to dinner: 4

In [37]:
#TIY 3-10
countries = ["USA", "Canada", "Brazil", "France", "China", "India"]

print("Original list of countries:", countries)

print("Third country in the list:", countries[2])

countries[1] = "United Kingdom"
print("Modified list of countries:", countries)

countries.append("Japan")
print("List after appending a country:", countries)

countries.insert(2, "Germany")
print("List after inserting a country:", countries)

countries.remove("France")
print("List after removing a country:", countries)

removed_country = countries.pop(3)
print("List after popping a country:", countries)
print("Removed country:", removed_country)

count_of_usa = countries.count("USA")
print("Number of occurrences of 'USA' in the list:", count_of_usa)

countries.sort()
print("List sorted alphabetically:", countries)

countries.reverse()
print("List reversed:", countries)

print("Number of countries:", len(countries))

countries.clear()
print("List after clearing:", countries)

Original list of countries: ['USA', 'Canada', 'Brazil', 'France', 'China', 'India']
Third country in the list: Brazil
Modified list of countries: ['USA', 'United Kingdom', 'Brazil', 'France', 'China', 'India']
List after appending a country: ['USA', 'United Kingdom', 'Brazil', 'France', 'China', 'India', 'Japan']
List after inserting a country: ['USA', 'United Kingdom', 'Germany', 'Brazil', 'France', 'China', 'India', 'Japan']
List after removing a country: ['USA', 'United Kingdom', 'Germany', 'Brazil', 'China', 'India', 'Japan']
List after popping a country: ['USA', 'United Kingdom', 'Germany', 'China', 'India', 'Japan']
Removed country: Brazil
Number of occurrences of 'USA' in the list: 1
List sorted alphabetically: ['China', 'Germany', 'India', 'Japan', 'USA', 'United Kingdom']
List reversed: ['United Kingdom', 'USA', 'Japan', 'India', 'Germany', 'China']
Number of countries: 6
List after clearing: []

In [41]:
#TIY 3-11
numbers = [1, 2, 3, 4, 5]
try:
    print(numbers[10])
except IndexError:
    print("Index error: Index is out of range!")
print(numbers[0])

Index error: Index is out of range!
1