<a href="https://colab.research.google.com/github/SujalK96/CSC221_skark005/blob/main/Quiz3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
#any() function
# It returns True if any element in the iterable is true.

#Example:
num_list = [0, 1, 2, 0]
print(any(num_list))

True

In [54]:
#enumerate() function
# It returns an enumerate object that yields pairs of index and value.

# Example:
my_list = ['Sujal', 'Karki', 'Plattsburgh']
for index, value in enumerate(my_list):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: Sujal
Index: 1, Value: karki
Index: 2, Value: Plattsburgh

In [7]:
# float() function
# It converts a string or a number to a floating-point number.

# Example:
num_str = "3.14"
num_float = float(num_str)
print(num_float)

3.14

In [8]:
# globals() function
# It returns a dictionary representing the current global symbol table.

# Example:
global_var = 10

def my_function():
    local_var = 20
    print("Global variables:", globals())
    print("Local variables:", locals())

my_function()

Global variables: {'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', '# Illustrating the any() function\n# It returns True if any element in the iterable is true.\n\n# Example:\nmy_list = [False, False, True]\nprint(any(my_list))  # Output: True', '# Illustrating the any() function\n# It returns True if any element in the iterable is true.\n\n# Example 2: Using any() with a list of numbers\nnum_list = [0, 1, 2, 0]\nprint(any(num_list))   # Output: True (since 1 is True)', '# Illustrating the any() function\n# It returns True if any element in the iterable is true.\n\n# Example 2: Using any() with a list of numbers\nnum_list = [0, 1, 2, 0]\nprint(any(num_list))   # Output: True (since 1 is True)', '# Illustrating the any() function\n# It returns True if any element in the iterable is true.\n\n# Example 2: Using any() with a list of numbers\nnum_list = [0, 1, 2, 0]\nprint(any(num_list))   # Output: True (since 1 is True)', '# Illustrating the breakpoint() function\n# It inserts a breakpoint in the code for debugging purposes.\n\n# Example:\nx = 5\ny = 10\nbreakpoint()  # Execution will pause here for debugging\nz = x + y\nprint(z)  # This line will not be executed until debugging is complete', '# Illustrating the enumerate() function\n# It returns an enumerate object that yields pairs of index and value.\n\n# Example:\nmy_list = [\'apple\', \'banana\', \'cherry\']\nfor index, value in enumerate(my_list):\n    print(f"Index: {index}, Value: {value}")', '# Illustrating the float() function\n# It converts a string or a number to a floating-point number.\n\n# Example:\nnum_str = "3.14"\nnum_float = float(num_str)\nprint(num_float)  # Output: 3.14', '# Illustrating the globals() function\n# It returns a dictionary representing the current global symbol table.\n\n# Example:\nglobal_var = 10\n\ndef my_function():\n    local_var = 20\n    print("Global variables:", globals())\n    print("Local variables:", locals())\n\nmy_function()'], '_oh': {}, '_dh': ['/content'], 'In': ['', '# Illustrating the any() function\n# It returns True if any element in the iterable is true.\n\n# Example:\nmy_list = [False, False, True]\nprint(any(my_list))  # Output: True', '# Illustrating the any() function\n# It returns True if any element in the iterable is true.\n\n# Example 2: Using any() with a list of numbers\nnum_list = [0, 1, 2, 0]\nprint(any(num_list))   # Output: True (since 1 is True)', '# Illustrating the any() function\n# It returns True if any element in the iterable is true.\n\n# Example 2: Using any() with a list of numbers\nnum_list = [0, 1, 2, 0]\nprint(any(num_list))   # Output: True (since 1 is True)', '# Illustrating the any() function\n# It returns True if any element in the iterable is true.\n\n# Example 2: Using any() with a list of numbers\nnum_list = [0, 1, 2, 0]\nprint(any(num_list))   # Output: True (since 1 is True)', '# Illustrating the breakpoint() function\n# It inserts a breakpoint in the code for debugging purposes.\n\n# Example:\nx = 5\ny = 10\nbreakpoint()  # Execution will pause here for debugging\nz = x + y\nprint(z)  # This line will not be executed until debugging is complete', '# Illustrating the enumerate() function\n# It returns an enumerate object that yields pairs of index and value.\n\n# Example:\nmy_list = [\'apple\', \'banana\', \'cherry\']\nfor index, value in enumerate(my_list):\n    print(f"Index: {index}, Value: {value}")', '# Illustrating the float() function\n# It converts a string or a number to a floating-point number.\n\n# Example:\nnum_str = "3.14"\nnum_float = float(num_str)\nprint(num_float)  # Output: 3.14', '# Illustrating the globals() function\n# It returns a dictionary representing the current global symbol table.\n\n# Example:\nglobal_var = 10\n\ndef my_function():\n    local_var = 20\n    print("Global variables:", globals())\n    print("Local variables:", locals())\n\nmy_function()'], 'Out': {}, 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x78aac85d37f0>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x78aac85d3d90>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x78aac85d3d90>, '_': '', '__': '', '___': '', '_i': '# Illustrating the float() function\n# It converts a string or a number to a floating-point number.\n\n# Example:\nnum_str = "3.14"\nnum_float = float(num_str)\nprint(num_float)  # Output: 3.14', '_ii': '# Illustrating the enumerate() function\n# It returns an enumerate object that yields pairs of index and value.\n\n# Example:\nmy_list = [\'apple\', \'banana\', \'cherry\']\nfor index, value in enumerate(my_list):\n    print(f"Index: {index}, Value: {value}")', '_iii': '# Illustrating the breakpoint() function\n# It inserts a breakpoint in the code for debugging purposes.\n\n# Example:\nx = 5\ny = 10\nbreakpoint()  # Execution will pause here for debugging\nz = x + y\nprint(z)  # This line will not be executed until debugging is complete', '_i1': '# Illustrating the any() function\n# It returns True if any element in the iterable is true.\n\n# Example:\nmy_list = [False, False, True]\nprint(any(my_list))  # Output: True', 'my_list': ['apple', 'banana', 'cherry'], '_i2': '# Illustrating the any() function\n# It returns True if any element in the iterable is true.\n\n# Example 2: Using any() with a list of numbers\nnum_list = [0, 1, 2, 0]\nprint(any(num_list))   # Output: True (since 1 is True)', 'num_list': [0, 1, 2, 0], '_i3': '# Illustrating the any() function\n# It returns True if any element in the iterable is true.\n\n# Example 2: Using any() with a list of numbers\nnum_list = [0, 1, 2, 0]\nprint(any(num_list))   # Output: True (since 1 is True)', '_i4': '# Illustrating the any() function\n# It returns True if any element in the iterable is true.\n\n# Example 2: Using any() with a list of numbers\nnum_list = [0, 1, 2, 0]\nprint(any(num_list))   # Output: True (since 1 is True)', '_i5': '# Illustrating the breakpoint() function\n# It inserts a breakpoint in the code for debugging purposes.\n\n# Example:\nx = 5\ny = 10\nbreakpoint()  # Execution will pause here for debugging\nz = x + y\nprint(z)  # This line will not be executed until debugging is complete', 'x': 5, 'y': 10, '__return__': None, 'z': 15, '_i6': '# Illustrating the enumerate() function\n# It returns an enumerate object that yields pairs of index and value.\n\n# Example:\nmy_list = [\'apple\', \'banana\', \'cherry\']\nfor index, value in enumerate(my_list):\n    print(f"Index: {index}, Value: {value}")', 'index': 2, 'value': 'cherry', '_i7': '# Illustrating the float() function\n# It converts a string or a number to a floating-point number.\n\n# Example:\nnum_str = "3.14"\nnum_float = float(num_str)\nprint(num_float)  # Output: 3.14', 'num_str': '3.14', 'num_float': 3.14, '_i8': '# Illustrating the globals() function\n# It returns a dictionary representing the current global symbol table.\n\n# Example:\nglobal_var = 10\n\ndef my_function():\n    local_var = 20\n    print("Global variables:", globals())\n    print("Local variables:", locals())\n\nmy_function()', 'global_var': 10, 'my_function': <function my_function at 0x78aab41540d0>}
Local variables: {'local_var': 20}

In [9]:
# input() function
# It reads a line from input, converts it to a string, and returns it.

# Example:
user_input = input("Enter your name: ")
print("Hello, " + user_input)

Enter your name: sujal
Hello, sujal

In [10]:
#int() function
# It converts a string or a number to an integer.

# Example:
num_str = "10"
num_int = int(num_str)
print(num_int)

10

In [11]:
#len() function
# It returns the length of an object.

# Example:
my_list = [1, 2, 3, 4, 5]
length = len(my_list)
print(length)

5

In [12]:
#list() function
# It creates a list from an iterable.

# Example:
my_tuple = (1, 2, 3)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3]

In [13]:
#locals() function
# It returns a dictionary representing the current local symbol table.

# Example:
def my_function():
    local_var = 10
    print(locals())

my_function()

{'local_var': 10}

In [53]:
#print() function
# It prints objects to the text stream file, separated by sep.

# Example:
name = "Sujal"
age = 19
print("Name:", name, "Age:", age)

Name: Sujal Age: 19

In [15]:
#range() function
# It returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

# Example:
my_range = range(5)
for num in my_range:
    print(num)

0
1
2
3
4

In [52]:
#sum() function
# It returns the sum of all elements in an iterable.

# Example:
my_list = [1, 2, 3, 4, 5]
total = sum(my_list)
print(total)

15

In [51]:
#sorted() function
# It returns a new sorted list from the elements of any iterable.

# Example:
my_list = ["Karki","SUNY","Dr. Lecky"]
sorted_list = sorted(my_list)
print(sorted_list)

['Dr. Lecky', 'Karki', 'SUNY']

In [19]:
#round() function
# It rounds a floating-point number to a specified number of decimal places.

# Example:
num = 3.14159
rounded_num = round(num, 2)
print(rounded_num)

3.14

In [48]:
#str() function
# It returns a string representation of an object.

# Example:
num = 123
str_num = str(num)
print(str_num)

123

In [21]:
#type() function
# It returns the type of an object.

# Example:
my_var = 10
print(type(my_var))

<class 'int'>

In [39]:
#id() function
# It returns the identity of an object.

# Example:
x = 42
print(id(x))

132675042297360

In [32]:
#format() function
# It formats a specified value into a specified format.

# Example:
name = "Sujal"
age = 19
formatted_string = "My name is {} and I am {} years old.".format(name, age)
print(formatted_string)

My name is Sujal and I am 19 years old.

In [26]:
#help() function
# It invokes the built-in help system.

# Example:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [45]:
#next() function
# It retrieves the next item from an iterator.

# Example:
my_list = iter(["Sujal","Dr.","Ned"])
print(next(my_list))
print(next(my_list))
print(next(my_list))

Sujal
Dr.
Ned

In [43]:
#eval() function
# It evaluates a Python expression from a string and returns the result.

# Example:
x = 10
y = 20
expression = "x + y"
result = eval(expression)
print(result)

30

In [42]:
#vars() function
# It returns the __dict__ attribute of an object.

# Example:
class MyClass:
    def __init__(self):
        self.x = 10
        self.y = 20

obj = MyClass()
attributes = vars(obj)
print(attributes)

{'x': 10, 'y': 20}

In [41]:
#all() function
# It returns True if all elements of the iterable are true.

# Example:
my_list = [True, True, True]
print(all(my_list))

my_list = [True, False, True]
print(all(my_list))

True
False